@import "tailwindcss";

@theme inline {
  --color-primary: #dc2626;
  --color-accent: #ca8a04;
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
  --font-sans: var(--font-inter);
  --font-anton: var(--font-anton);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
